
body { 
    margin: 0; 
    padding: 0; 
}

#map {
    position: absolute; 
    top: 0; 
    bottom: 0; 
    width: 100% 
}

.map-overlay{
    position: absolute;
    left: 0;
    padding: 20px;
}

button {
    font-size: 20px; 
    background-color: #d15555; 
    color: whitesmoke; 
    border-radius: 8px; 
    border-style: solid;
    border-color: grey;
    padding: 5px;

}

button:hover {
    background-color: #eda489;
    color: whitesmoke;
}

button:active {
    background-color: #a1d76f;
    color: #e8fd96;

}